@import './modulos/normalize';
@import './modulos/numeros';
@import './modulos/matematicas';


body{
    margin: 0 auto;
    width: 100%;
    height: 800px;
    background: #ffeccb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.contenedor-general{
    margin: 0 auto;
    width: 800px;
    height: 800px;
    background: #ffeccb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.resultado{
    margin: 0 auto;
    width: 400px;
    height: 60px;
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}